<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Words, Sentences and Feelings</title>
    </head>

    <body>

        <header>
            <div class="">
                
            </div>
            <div class="">
                
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <textarea id="name" type="text" name="input" value="" onblur="" placeholder="Message to send to Sentiment Analysis" maxlength="500" rows="8"></textarea>
                    <input type="submit" name="" value="Send Message" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
              </section>

            <section>
                <strong>Your message was...</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
